<% if @card %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: 'cards/form_for_repeat', layout: 'cards/tb_label', locals: { title: "Let's repeat card" } %>
    </div>
  </div>
<% end %>
