<div class="page-header clearfix">
  <div class="pull-left">
    <h1><%= title %><small></small></h1>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <%= yield %>
  </div>
</div>
