<h3>Список флешкарточек:</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Оригинал</th>
      <th>Перевод</th>
      <th>Дата просмотра</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
