<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="active"><a href="<%= root_path %>">Flashcards</a></li>
      <li><a href="<%= cards_path %>">Все карточки</a></li>
      <li><a href="<%= new_card_path %>">Добавить карточку</a></li>
    </ul>
  </div>
</nav>
